<div class="body">
    <div class="cube">
        <div class="title">Let's get in touch!</div>
        <div class="subTitle">Leave your details and a short message below</div>
        <div class="card">
            <div style="display: flex;">
                <div class="up">
                    <b>Full name</b>
                        <input matInput type="text" name="name" formControlName="name" autocomplete="off">
                    
                </div>
                <div class="up">
                    <b>Email</b>
                        <input matInput type="text" name="email" formControlName="email" autocomplete="off">
                    
                </div>
            </div>
            <div class="message">
                <b>Message</b>
                    <textarea matInput ></textarea>

                <button class="send" ><b>Send Message</b></button> 
            </div>
        </div>
    </div>
</div>